.container{
    height: calc(100vh - 100px);
    background-color: #d1411e;
    position: relative;
    overflow-x: hidden;
}
.arrow__container{
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 0;
    height: 20%;
    width: 7%;
    z-index: 3;
    cursor: pointer;
    border-radius: 3rem;
    transition: all .5s ease;
}
.arrow__container:hover{
    background-color: rgba(20, 37, 37,0.11);

}
.arrow__container:focus{
    background-color: rgba(20, 37, 37,0.11);
    outline: none;
}
.wrapper{
width: 300vw;
height: 100%;
display: flex;
transition: all 2s ease;
}
.img__container{
   height: 100%;
   width: 100vw;
   position: relative;
}
@media screen and (max-width:480px) {
.container{
    height: calc(50vh + 100px);

}
}