.container{
height: 100%;
width: 100%;
display: flex;

align-items: center;
justify-content: center;
cursor: pointer;
display: flex;
flex-direction: column;
}
.left__container{
    
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 3px 10px rgba(182, 32, 32, 0.2);
    background-color: teal;
    display: flex;
    align-items: center;
    transition: all 1s ease-in-out;
    justify-content: center;
}
.img__container{
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    justify-content: center;
    
}
@media screen and (min-width:1000px) {
    
    .left__container:hover{
        background-color: #D1411E;
    }
    .left__container:hover>.pizza___each__items_container{
        z-index: 3;
    }
    .left__container:hover>.img__container{
        opacity: 0.1;
        /* z-index: -1; */
    }
}
.pizza___each__items_container{
    transition: all 0.3s ease;
    /* animation: ferhan 1s ;
    @ */
    position: absolute;
    display: inline;
    flex-direction: column;
justify-content: center;
align-items: center;
color: white;
border-radius: 20px;
z-index: -1;
cursor: pointer;
margin: auto;

}
.mobile{
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title{
color: inherit;
font-size: 33px;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
}
.order__button{
    border: 1px solid white;
    color: white;
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 5px;
    transition: all 1s ease;
    cursor: pointer;

}
.order__button:hover{
    background-color: whitesmoke;
    color: #D1411E;
}
.price{
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
    


}
@media screen and (max-width:480px) {
.container{
    width: 100%;
    
}

.wrapper{
    display: none
}
.mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mobile>h3{
    margin-right: 10px;
    font-weight: 500;
    color: #D1411E;

}
}
